// var --------------------------------------------------------
$background: #ede7d7;
$primary: #fd6735;
$clear: #ffffff00;
$placeholder: #ff00bb;

// mixins ------------------------------------------------------
@mixin cadre($color) {
    border: 2px solid $color;
    border-top: 5px solid $color;
    border-bottom: 5px solid $color;
    padding: 1em;
}

// mobile version -------------------------------------------------------------------------------
// natif------------------------------------------------------
body {
    margin: 0;
    background-color: $background;
    color: $primary;

    #hook {
        text-align: center;
        text-decoration: underline;
        font-style: italic;
        padding: 1em;
    }
}

header {
    background-color: $primary;
    color: $background;
    padding: 5px;

    .cadre {
        @include cadre($background);
        display: flex;
        justify-content: space-between;
    }
}

main {
    width: 100%;
}

footer {
    background-color: $primary;
    color: $background;
    padding: 5px;

    .cadre {
        @include cadre($background);
    }
}

// id -------------------------------------------------------

#mainSec {
    display: flex;
    flex-flow: row nowrap;
}

#comp {
    margin: 1em;
    @include cadre($primary);

    #tech {
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        justify-content: space-around;

        img {
            width: 50px;
            filter: invert(57%) sepia(51%) saturate(4497%) hue-rotate(339deg) brightness(101%) contrast(98%);
        }
    }
}

#xp {
    background-color: $primary;
    color: $background;
    margin: 1em;
    padding: 1em;

    .cadre {
        @include cadre($background);
    }
}

#format {
    @include cadre($primary);
    margin: 1em;
}

// class -----------------------------------------------------
.left {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    img {
        height: 85px;
    }
}

.center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h1 {
        margin: 0;
    }
}

.right {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}


// pc version ----------------------------------------------------------------------------------
@media (min-width:775px) {
    main {
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-content: center;
    }

    #mainSec {
        height: 80vh;

    }

    #comp {
        width: 20em;
    }

    #xp {
        width: 20em;
    }

    #format {
        width: 20em;
    }
}